/**
Formato de default general
*/
body{
    background-image: url(fondo.claro.jpg);
}

*{
    font-family: 'Urbanist', sans-serif;
    color: rgb(17, 87, 87);
    font-size: 10px;
    font-weight: bold;
    text-align:start;
    box-sizing: border-box;
}

/**
Formato del Encabezado
*/
h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Ribeye', cursive;
    text-align: center;
    color: rgb(235, 235, 176);
}
h5{
    text-align: center;
    color: burlywood;
}
#cita{
    color: rgb(245, 245, 245);
    font-family: 'Solitreo', cursive;
    text-align: center;
    font-size: 10px;
}

/**
Formato de Subtítulos
*/
h2{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    color: olive;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/**
Formato del Cuerpo
*/
h3{
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: 'Englebert', sans-serif;
    margin-top: 5px;
}
p{
    color: rgb(49, 40, 40);
    text-align: left;
    margin-bottom: 3px;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
}

/**
Formato del Footer
*/
h4{
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    margin-top: 10px;
    color: rgb(15, 37, 37);
}
h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: rgb(15, 37, 37);
    font-size: 10px;
    font-weight: bold;
    text-align:right;
    margin-top: 4px;
    padding-top: 6px;
}

/**
Formato de elementos de Bootstrap
*/
.card-body{
    background-color: rgb(31, 75, 75);
}
.contenedor-icono svg{
    width: fit-content;
    height: fit-content;
    float: left;
    margin-right: 10px;
}
.d-flex img{
    width: fit-content;
}

#botonEnviar{
    padding:2px;
}